{% extends 'bootstrap/base.html' %}

{% block title %}Blog{% endblock %}

{% block navbar %}
    {% if not current_user.is_authenticated %}
        {% set button_logname = '/login', '/login', 'Login' %}
    {% else %}
        {% set button_logname = '/logout', '/logout', 'Logout' %}
    {% endif %}
    {% set navigation_bar = [('/', '/', 'Welcome'), ('/disk', '/disk', 'Disk'),
                               button_logname ]%}
    {% set active_page = active_page|default('/') %}
    <div class="navbar navbar-inverse">
        <div class="container">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand text-muted" href="/">Blog</a>
            <div class="collapse navbar-collapse">

                <ul class="nav navbar-nav navbar-right" id="navigation">
                    {% for href, id, caption in navigation_bar %}
                        <li {% if id == active_page %} class="active"{% endif %}>
                            <a href="{{ href|e }}">{{ caption|e }}</a>
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}